@{
    ViewData["Title"] = "Home Page";
}

    <h1 style="margin:24px;display: flex; justify-content: center; align-items: center;margin-top:100px;">Welcome to the Employee Leave Management Dashboard</h1>
    <div>
        <h4>This dashboard provides a centralized hub for managing employee leaves efficiently.</h4>
        <h4>   Here, you can oversee and streamline the leave application, approval, and tracking processes.</h4>
    </div>




<style>
    h4{
       margin-inline:170px;
    }
</style>


